<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="EmpPicProof" value="\EmpPicProofFolder"/>
    <add key="DOBProof" value="\DOBProofFolder"/>
    <add key="NoChild" value="\NoChildFolder"/>
    <add key="PermAdd" value="\PermAddFolder"/>
    <add key="PresAdd" value="\PresAddFolder"/>
    <add key="EduQual" value="\EduQualFolder"/>
    <add key="OthrQual" value="\OthrQualFolder"/>
  </appSettings>
</configuration>